{% extends './layout.html' %}
{% block content %}
  <h1>{{ title }}</h1>
  <form class="form" action="/categories" method="post">
    <div class="row">
      <div class="col-sm-8">
        <div class="input-container">
          <input type="text" name="name" id="name" required="required"/>
          <label for="name">Category Name</label>
          <div class="bar"></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="button-container">
          <button type="submit"><span>Add</span></button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}